.card.border-primary {
  background-color: #a0c1f3; /* xanh nhạt */
  color: #072d67; /* chữ xanh đậm */
}

.card.border-warning {
  background-color: #fdeebe; /* vàng nhạt */
  color: #806209; /* chữ vàng đậm */
}

.card.border-danger {
  background-color: #ffb5bb; /* đỏ nhạt */
  color: #8e1b25; /* chữ đỏ đậm */
}

/* Giữ cho ảnh không bị ảnh hưởng */
.card-img-top {
  height: 200px;
  object-fit: cover;
}
